<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-topfull">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
				<h4 class="modal-title"><strong>Notification</strong> create</h4>
			</div>
			<div class="modal-body">
				
				<ul class="nav nav-tabs nav-primary">
					<li><a href="#brand-form-general" data-toggle="tab"><i class="icon-info"></i> General</a></li>
				</ul>
				
				<div class="tab-content">
					
					<div class="tab-pane fade" id="brand-form-general">
						
						<p class="alert bg-info"><i class="icon-bulb"></i> Message below will be sent to all users.</p>
						
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="message" class="control-label">Message</label>
									<textarea id="message" name="message" class="form-control" rows="5"></textarea>
								</div>
							</div>
						</div>
					
					</div>
					
				
				</div>
					
			</div>
			<div class="modal-footer bg-dark">
				<button type="submit" class="btn btn-primary btn-embossed">Send</button>
				<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>