<div class="panel">
	<div class="panel-content table-responsive">
		<div class="m-b-20">
			<button class="btn btn-sm btn-dark" data-action="push-status-create"><i class="fa fa-plus"></i> Create Notification</button>
		</div>
		<div class="form-inline">
			<div class="row" role="navigation">
				<div class="col-xs-9">
				</div>
				<div class="col-xs-3">
				</div>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-7">Payload</th>
						<th class="col-md-2">Time</th>
						<th class="col-md-1">Sent / Failed</th>
						<th class="col-md-1">Total count</th>
						<th class="col-md-1">Status</th>
					</tr>
				</thead>
				<tbody role="items">
				</tbody>
			</table>
			<div class="row" role="pagination"></div>
		</div>
	</div>
</div>

<form role="form" rel="push-status"></form>