<p class="alert bg-info hidden">
	<i class="icon-bulb"></i> Drag product from right to left to add them to collection.<br/>
	<i class="icon-bulb"></i> Drag product from left to right to remove them from collection.<br/>
	<i class="icon-bulb"></i> Drag product in left to change the sort order.
</p>

<div class="row column-seperation">

	<div class="col-md-6 line-separator">
		
		<h3>Selected products</h3>

		<table class="table table-hover table-fixed table-theme-gallery table-theme-gallery-xs">
			<thead>
				<tr>
					<th class="col-md-6">Name</th>
					<th class="col-md-2">Price</th>
					<th class="col-md-2">Quantity</th>
					<th class="col-md-2">Published</th>
				</tr>
			</thead>
			<tbody class="ui-sortable" role="items" data-side="left" style="height: 600px;max-height: 600px;">
			</tbody>
		</table>
		
	</div>
							
	<div class="col-md-6">
		
		<h3>Available products</h3>
		
		<table class="table table-hover table-fixed table-theme-gallery table-theme-gallery-xs">
			<thead>
				<tr>
					<th class="col-md-6">Name</th>
					<th class="col-md-2">Price</th>
					<th class="col-md-2">Quantity</th>
					<th class="col-md-2">Published</th>
				</tr>
			</thead>
			<tbody class="ui-sortable" role="items" data-side="right" style="height: 600px;max-height: 600px;">
			</tbody>
		</table>
		
	</div>

</div>
		