<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-topfull">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
				<h4 class="modal-title"><strong>Payment Card</strong> view</h4>
			</div>
			<div class="modal-body">
				
				<ul class="nav nav-tabs nav-primary">
					<li><a href="#payment-card-view-general" data-toggle="tab"><i class="icon-info"></i> General</a></li>
				</ul>
				
				<div class="tab-content">
					
					<div class="tab-pane fade" id="payment-card-view-general">
						
						<p class="alert bg-info"><i class="icon-bulb"></i> <span data-name="removedAt"></span></p>
						
						<h3>General</h3>
						
						<div class="row">
					
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Card type</label>
									<p data-name="cardType" class="form-control">&nbsp;</p>
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Trailing digits</label>
									<p data-name="trailingDigits" class="form-control">&nbsp;</p>
								</div>
							</div>
						
						</div>
					
					</div>
					

				</div>
					
			</div>
			<div class="modal-footer bg-dark">
				<button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>