<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-topfull">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
				<h4 class="modal-title"><strong>User Group</strong></h4>
			</div>
			<div class="modal-body">
				
				<ul class="nav nav-tabs nav-primary">
					<li><a href="#user-group-form-general" data-toggle="tab"><i class="icon-info"></i> General</a></li>
				</ul>
				
				<div class="tab-content">
					
					<div class="tab-pane fade" id="user-group-form-general">
						
						<h3>General</h3>
						
						<div class="row">
					
							<div class="col-md-12">
								<div class="form-group">
									<label for="name" class="control-label">Name</label>
									<input id="name" name="name" type="text" class="form-control">
								</div>
							</div>
						
						</div>
						
						<div class="row">
					
							<div class="col-md-12">
								<div class="form-group">
									<label for="description" class="control-label">Description</label>
									<textarea id="description" name="description" class="form-control" rows="5"></textarea>
								</div>
							</div>
						
						</div>
								
					</div>
					
				
				</div>
					
			</div>
			<div class="modal-footer bg-dark">
				<button type="submit" class="btn btn-primary btn-embossed">Save changes</button>
				<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>