<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-topfull">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
				<h4 class="modal-title"><strong>Brand</strong></h4>
			</div>
			<div class="modal-body">
				
				<ul class="nav nav-tabs nav-primary">
					<li><a href="#brand-form-general" data-toggle="tab"><i class="icon-info"></i> General</a></li>
				</ul>
				
				<div class="tab-content">
					
					<div class="tab-pane fade" id="brand-form-general">
						
						<div class="row column-seperation">
							
							<div class="col-md-6 line-separator">
				
								<h3>General</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label for="name" class="control-label">Brand name</label>
											<input id="name" name="name" type="text" class="form-control">
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label for="brandDescription" class="control-label">Brand description</label>
											<textarea id="brandDescription" name="brandDescription" class="form-control" rows="5"></textarea>
										</div>
									</div>
								
								</div>
								
								<div class="row">
											
									<div class="col-md-12">
										<div class="form-group">
											<input id="inSlider" name="inSlider" type="checkbox">
											<label for="inSlider">In slider <small class="text-muted">(will be shown in slider on website)</small></label>
										</div>
									</div>
									
								</div>
								
								<div class="row">
											
									<div class="col-md-12">
										<div class="form-group">
											<input id="primary" name="primary" type="checkbox">
											<label for="primary">Primary <small class="text-muted">(will be shown in brand list on website)</small></label>
										</div>
									</div>
									
								</div>
								
								<div class="row">
											
									<div class="col-md-12">
										<p class="alert bg-info"><i class="icon-bulb"></i> Item will be hidden from the lists in webadmin UI, but will be directly accessible</p>
										<div class="form-group">
											<input id="hidden" name="hidden" type="checkbox">
											<label for="hidden">Hidden from webadmin UI</label>
										</div>
									</div>
									
								</div>
								
								<div class="row">
											
									<div class="col-md-12">
										<div class="form-group">
											<input id="published" name="published" type="checkbox">
											<label for="published">Published</label>
										</div>
									</div>
									
								</div>
							
							</div>
							
							<div class="col-md-6">
								
								<h3>Image</h3>
								
								<div class="row">
								
									<div class="col-md-12">
										<div class="form-group">
											<div name="image"></div>
										</div>
									</div>
									
								</div>
								
								<h3>Cover</h3>
								
								<div class="row">
								
									<div class="col-md-12">
										<div class="form-group">
											<div name="cover"></div>
										</div>
									</div>
									
								</div>
								
							</div>
								
						</div>
								
					</div>
					
				
				</div>
					
			</div>
			<div class="modal-footer bg-dark">
				<button type="submit" class="btn btn-primary btn-embossed">Save changes</button>
				<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>