<td class="ui-sortable-handle"><i class="icon-cursor-move"></i><%= name || '&mdash;' %></td>
<td><%= brandDescription || '&mdash;' %></td>
<td>
	<% if (published) { %>
		<span class="text-success">Yes</span>
	<% } else { %>
		<span class="text-danger">No</span>
	<% } %>
</td>
<td class="table-action">
	<a href="<%= app.router._generate('productList', null, {brand: objectId}) %>" class="edit btn btn-sm btn-blue" title="View product list"><i class="icon-share-alt"></i></a>
	<a href="#" class="edit btn btn-sm btn-default" data-action="brand-update" data-id="<%= id %>" title="Update"><i class="icon-note"></i></a>
</td>