<div class="row">
	<div class="col-md-12">
		<div class="form-inline">
			<div class="row" role="navigation">
				<div class="col-xs-12" role="filter">
					<div class="form-group">
						<input name="productSize" type="hidden" data-placeholder="Choose Size" style="min-width: 150px; width: 150px;">
					</div>
					<div class="form-group">
						<input name="dateRange" type="hidden" data-placeholder="Choose Dates" style="min-width: 300px; width: 300px;">
					</div>
				</div>
			</div>
			<table class="table table-hover table-fixed timetable">
				<thead>
					<tr role="header">
					</tr>
				</thead>
				<tbody role="items">
				</tbody>
				<tfoot>
					<tr role="footer"></tr>
				</tfoot>
			</table>
			<div class="m-t-20">
				<p class="pull-right m-l-20"><span class="label bg-green">&nbsp;</span>&nbsp;<span class="label bg-light">&nbsp;</span> &mdash; unavailable date</p>
			</div>
		</div>
	</div>
</div>