<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-topfull">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
				<h4 class="modal-title"><strong>Showroom</strong></h4>
			</div>
			<div class="modal-body">
				
				<ul class="nav nav-tabs nav-primary">
					<li><a href="#showroom-form-general" data-toggle="tab"><i class="icon-info"></i> General</a></li>
				</ul>
				
				<div class="tab-content">
					
					<div class="tab-pane fade" id="showroom-form-general">
				
						<h3>General</h3>
						
						<div class="row">
					
							<div class="col-md-12">
								<div class="form-group">
									<label for="name" class="control-label">Showroom title</label>
									<input id="name" name="name" type="text" class="form-control">
								</div>
							</div>
						
						</div>
						
						<div class="row">
							
							<div class="col-md-12">
								<div class="form-group">
									<label for="address_streetLines" class="control-label">Street lines</label>
									<textarea id="address_streetLines" name="address" rel="streetLines" class="form-control" rows="5"></textarea>
								</div>
							</div>
						
						</div>
						
						<div class="row">
					
							<div class="col-md-9">
								<div class="form-group">
									<label for="address_city" class="control-label">City</label>
									<input id="address_city" name="address" rel="city" type="text" class="form-control">
								</div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
									<label for="address_stateOrProvinceCode" class="control-label">State / Province code</label>
									<input id="address_stateOrProvinceCode" name="address" rel="stateOrProvinceCode" type="text" class="form-control">
								</div>
							</div>
						
						</div>
						
						<div class="row">
					
							<div class="col-md-6">
								<div class="form-group">
									<label for="address_postalCode" class="control-label">Postal / ZIP code</label>
									<input id="address_postalCode" name="address" rel="postalCode" type="text" class="form-control">
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
									<label for="address_countryCode" class="control-label">Country code</label>
									<input id="address_countryCode" name="address" rel="countryCode" type="text" class="form-control">
								</div>
							</div>
						
						</div>
						
						<div class="row">
									
							<div class="col-md-12">
								<div class="form-group">
									<input id="primary" name="primary" type="checkbox">
									<label for="primary">Primary</label>
								</div>
							</div>
							
						</div>
						
						<div class="row">
									
							<div class="col-md-12">
								<div class="form-group">
									<input id="published" name="published" type="checkbox">
									<label for="published">Published</label>
								</div>
							</div>
							
						</div>
								
					</div>
					
				
				</div>
					
			</div>
			<div class="modal-footer bg-dark">
				<button type="submit" class="btn btn-primary btn-embossed">Save changes</button>
				<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>