<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-topfull">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
				<h4 class="modal-title"><strong>Stylist</strong> view</h4>
			</div>
			<div class="modal-body">
				
				<ul class="nav nav-tabs nav-primary">
					<li><a href="#stylist-view-general" data-toggle="tab"><i class="icon-info"></i> General</a></li>
					<li><a href="#stylist-view-price" data-toggle="tab"><i class="icon-basket-loaded"></i> Price</a></li>
					<li><a href="#stylist-view-availability" data-toggle="tab"><i class="icon-basket-loaded"></i> Availability</a></li>
				</ul>
				
				<div class="tab-content">
					
					<div class="tab-pane fade" id="stylist-view-general">
						
						<div class="row column-seperation">
							
							<div class="col-md-6 line-separator">
				
								<h3>General</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Stylist full name</label>
											<p data-name="fullName" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Details</label>
											<div class="form-control mCustomScrollbar" style="max-height: 200px;">
												<p data-name="details">&nbsp;</p>
											</div>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Share link</label>
											<p data-name="shareLink" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Type</label>
											<p data-name="type" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row" data-stylist-type="1">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Gender</label>
											<p data-name="gender" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row" data-stylist-type="1">
							
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Previous Company 1</label>
											<p data-name="previousJob" class="form-control" rel="0">&nbsp;</p>
										</div>
									</div>
									
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Previous Company 2</label>
											<p data-name="previousJob" class="form-control" rel="1">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row" data-stylist-type="1">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Showroom</label>
											<p data-name="showroom" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row" data-stylist-type="2">
							
									<div class="col-md-12">
										
										<div class="form-group">
											<label class="control-label">Home stylist for version 1.0</label>
											<p data-name="primary" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										
										<p class="alert bg-info" data-stylist-type="1"><i class="icon-bulb"></i> <span data-name="notificatedAt"></span></p>
										
										<div class="form-group">
											<label class="control-label">Published</label>
											<p data-name="published" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
							
							</div>
							
							<div class="col-md-6">
								
								<h3>Photo</h3>
								
								<div class="row">
								
									<div class="col-md-12">
										<div class="form-group">
											<div name="photo"></div>
										</div>
									</div>
									
								</div>
								
								<h3>Navbar Image</h3>
								
								<div class="row">
								
									<div class="col-md-12">
										<div class="form-group">
											<div name="image"></div>
										</div>
									</div>
									
								</div>
								
							</div>
								
						</div>
					
					</div>
					
					
					<div class="tab-pane fade" id="stylist-view-price">
						
						<h3>Price</h3>
				
						<div class="row">
					
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Price</label>
									<p data-name="price" class="form-control">&nbsp;</p>
								</div>
							</div>
						
						</div>
						
					</div>
					
					
					<div class="tab-pane fade" id="stylist-view-availability" name="availability">
					</div>
					

				</div>
					
			</div>
			<div class="modal-footer bg-dark">
				<button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>