<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-topfull">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
				<h4 class="modal-title"><strong>Product</strong> view</h4>
			</div>
			<div class="modal-body">
				
				<ul class="nav nav-tabs nav-primary">
					<li><a href="#product-view-general" data-toggle="tab"><i class="icon-info"></i> General</a></li>
					<li><a href="#product-view-pdp" data-toggle="tab"><i class="icon-info"></i> PDP</a></li>
					<li><a href="#product-view-price-and-size" data-toggle="tab"><i class="icon-basket-loaded"></i> Price &amp; Size</a></li>
					<li><a href="#product-view-images" data-toggle="tab"><i class="icon-picture"></i> Images</a></li>
					<li><a href="#product-view-availability" data-toggle="tab"><i class="icon-calendar"></i> Availability</a></li>
				</ul>
				
				<div class="tab-content">
					
					<div class="tab-pane fade" id="product-view-general">
				
						<div class="row column-seperation">
							
							<div class="col-md-6 line-separator">
								
								<h3>General</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Brand</label>
											<p data-name="brand" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Category</label>
											<p data-name="category1" class="form-control">&nbsp;</p>
										</div>
									</div>
									
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Sub category</label>
											<p data-name="category2" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Product name</label>
											<p data-name="name" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Details</label>
											<div class="form-control mCustomScrollbar" style="max-height: 200px;">
												<p data-name="details">&nbsp;</p>
											</div>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Style code</label>
											<p data-name="styleCode" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Style note</label>
											<div class="form-control mCustomScrollbar" style="max-height: 200px;">
												<p data-name="styleNote">&nbsp;</p>
											</div>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Color</label>
											<p data-name="color" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Pronoun</label>
											<p data-name="pronoun" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Share link</label>
											<p data-name="shareLink" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Published</label>
											<p data-name="published" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
							</div>
							
							<div class="col-md-6">
								
								<h3>Preview</h3>
								
								<div class="row">
								
									<div class="col-md-12">
										<div class="form-group">
											<div name="preview"></div>
										</div>
									</div>
									
								</div>
								
							</div>
								
						</div>
					
					</div>
					
					
					<div class="tab-pane fade" id="product-view-pdp">
						
						<div class="row">
					
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Details</label>
									<div class="form-control mCustomScrollbar" style="max-height: 200px;">
										<p data-name="pdpDetails">&nbsp;</p>
									</div>
								</div>
							</div>
						
						</div>
						
						<div class="row">
					
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Fit</label>
									<div class="form-control mCustomScrollbar" style="max-height: 200px;">
										<p data-name="pdpFit">&nbsp;</p>
									</div>
								</div>
							</div>
						
						</div>
						
						<div class="row">
					
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Size</label>
									<div class="form-control mCustomScrollbar" style="max-height: 200px;">
										<p data-name="pdpSize">&nbsp;</p>
									</div>
								</div>
							</div>
						
						</div>
						
					</div>
					
					
					<div class="tab-pane fade" id="product-view-price-and-size">
						
						<div class="row column-seperation">
							
							<div class="col-md-6 line-separator">
								
								<h3>Price</h3>
								
								<div class="row">
							
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Price</label>
											<p data-name="price" class="form-control">&nbsp;</p>
										</div>
									</div>
									
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Retail price</label>
											<p data-name="retailPrice" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Delivery price</label>
											<p data-name="deliveryPrice" class="form-control">&nbsp;</p>
										</div>
									</div>
									
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Insurance price</label>
											<p data-name="insurancePrice" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<h3>Rent delay</h3>
								
								<div class="row">
							
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Before rent <small>(in days)</small></label>
											<p data-name="delayBefore" class="form-control">&nbsp;</p>
										</div>
									</div>
									
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">After rent <small>(in days)</small></label>
											<p data-name="delayAfter" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
							</div>
							
							<div class="col-md-6" name="sizes">
							</div>
						
						</div>
						
					</div>
					
					
					<div class="tab-pane fade" id="product-view-images" name="photos">
					</div>
					
					
					<div class="tab-pane fade" id="product-view-availability" name="order">
					</div>
					

				</div>
					
			</div>
			<div class="modal-footer bg-dark">
				<button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>