<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-topfull">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
				<h4 class="modal-title"><strong>Customer Profile</strong></h4>
			</div>
			<div class="modal-body">
				
				<ul class="nav nav-tabs nav-primary">
					<li><a href="#customer-profile-form-general" data-toggle="tab"><i class="icon-info"></i> General</a></li>
				</ul>
				
				<div class="tab-content">
					
					<div class="tab-pane fade" id="customer-profile-form-general">
						
						<div class="row column-seperation">
							
							<div class="col-md-6 line-separator">
				
								<h3>General</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label for="parent" class="control-label">Parent</label>
											<input id="parent" name="parent" type="text" class="form-control select2-control" data-placeholder="Choose Parent">
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label for="key" class="control-label">Key</label>
											<input id="key" name="key" type="text" class="form-control">
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label for="title" class="control-label">Title</label>
											<input id="title" name="title" type="text" class="form-control">
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label for="note" class="control-label">Description</label>
											<textarea id="note" name="note" class="form-control" rows="5"></textarea>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label for="hint" class="control-label">Hint</label>
											<textarea id="hint" name="hint" class="form-control" rows="5"></textarea>
										</div>
									</div>
								
								</div>
								
								<div class="row" data-category="false">
							
									<div class="col-md-12">
										<div class="form-group">
											<label for="type" class="control-label">Type</label>
											<input id="type" name="type" type="text" class="form-control select2-control" data-placeholder="Choose Type">
										</div>
									</div>
								
								</div>
								
								<div class="row" data-category="false">
											
									<div class="col-md-12">
										
										<div class="form-group">
											<input id="multiple" name="multiple" type="checkbox">
											<label for="multiple">Multiple</label>
										</div>
									</div>
									
								</div>
								
								<div class="row">
											
									<div class="col-md-12">
										
										<div class="form-group">
											<input id="published" name="published" type="checkbox">
											<label for="published">Published</label>
										</div>
									</div>
									
								</div>
								
							</div>
							
							<div class="col-md-6" name="values" data-category="false">
							</div>
								
						</div>
								
					</div>
					
				
				</div>
					
			</div>
			<div class="modal-footer bg-dark">
				<button type="submit" class="btn btn-primary btn-embossed">Save changes</button>
				<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>