<div class="panel">
	<div class="panel-content table-responsive">
		<div class="m-b-20">
			<div class="btn-group" style="vertical-align: top;">
				<button class="btn btn-sm btn-dark dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false"><i class="fa fa-plus"></i> Add New System Event</button>
				<ul role="menu" class="dropdown-menu">
					<% _.each(types, function (type) { %>
						<li><a href="#" data-action="system-event-create" data-type="<%= type.id %>"><%= type.text %></a></li>
					<% }); %>
				</ul>
			</div>
		</div>
		<div class="form-inline">
			<div class="row" role="navigation">
				<div class="col-xs-9">
				</div>
				<div class="col-xs-3">
					<div class="dataTables_filter" role="search"></div>
				</div>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-4">Type</th>
						<th class="col-md-6">Description</th>
						<th class="col-md-1">Active</th>
						<th class="col-md-1">&nbsp;</th>
					</tr>
				</thead>
				<tbody role="items">
				</tbody>
			</table>
			<div class="row" role="pagination"></div>
		</div>
	</div>
</div>

<form role="form" rel="systemEvent"></form>
